*{
    font-family: Georgia, serif;
    box-sizing: border-box;
  
    margin: 0 auto;
}

body {
    background: #708abb;
}

.heading{
    text-align: center;    
}

.parent{
    padding: 5% 5%;
}

.takequiz{
    margin: auto;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 40%;
    padding: 5% 5% 5% 5%;
    line-height: 22px;
}

.inputs{
    width: 100%;
    padding: 2.5% 2.5%;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.labels{
    width: 100%;
    padding: 2.5% 0%;
    margin: 8px 0;
    text-align: left;
}

.buttons{
    float: right;
    margin: 8px 0;
    background: #4caf50;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3.5% 5%;
    color: white;
}

@media screen and (max-width: 600px){
    .takequiz{
        margin: auto;
        background: white;
        border: 2px solid black;
        border-radius: 10px;
        width: 80%;
        padding: 5% 5% 5% 5%;
        line-height: 22px;
    }
}